* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

body {
    font-family: sans-serif;
}

.logo {
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.top_box {
    width: 100%;
    background-image: url(ground.png);
    background-repeat: no-repeat;
    background-position: right 155px;
}

.logo_bar_list {
    display: flex;
    justify-content: space-between;
    padding-left: 113px;
    padding-top: 42px;
    padding-right: 113px;
    list-style-type: none;
}

.logo_bar_list_contact {
    display: flex;
    justify-content: space-between;
    padding-left: 113px;
    padding-top: 42px;
    padding-right: 113px;
    list-style-type: none;
}

.logo_paragraf_text {
    display: flex;
    flex-direction: column;
}

.topH1 {
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    padding-right: 500px;
    padding-left: 114px;
    padding-top: 115px;
}

.paragraf {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    max-width: 35%;
    padding-left: 114px;
    padding-top: 32px;
}

.logo_bottom {
    display: flex;
    justify-content: flex-start;
    padding-left: 70px;
    padding-top: 71px;
    padding-bottom: 190px;
    margin: 0px 0px 0px 50px;
    max-width: 100%;
}

.logo_button_project {
    max-width: 50%;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgb(53 110 173 / 20%);
    border-radius: 10px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 50px;
}

.what-we-do {
    display: flex;
    flex-direction: column;
}

.topH3_what {
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    padding: 64px 113px 64px 0px;

}

.product_card1 {
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgb(16 112 177 / 20%);
    border-radius: 10px;

}

.product_card2 {
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgb(16 112 177 / 20%);
    border-radius: 10px;

}

.product_card3 {
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgb(16 112 177 / 20%);
    border-radius: 10px;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 0px 20px;
}

.card_photo {
    padding: 43px 100px 52px 70px;
}

.card_photo2 {
    padding: 43px 117px 52px 100px;
}

.card_photo3 {
    padding: 43px 90px 52px 100px;
}

.topH4 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    padding: 10px 0px;
    text-align: center;
}

.paragraf_card {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    padding: 10px 0px;
    max-width: 70%;
    text-align: center;
}

.link_card {
    text-decoration: none;
    padding: 0px 23px 0px 32px;
    margin-bottom: 44px;
}

.link_cards {
    padding: 50px 0px;
    text-align: right;
    padding-right: 20px;
}

.product {
    display: flex;
    max-width: 100%;
}

.tezis {
    max-width: 1140px;
}

.topH4_tezis {
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    padding: 64px 0px 31px 0px;
}

.paragraf_tezis_text {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #222222;
    padding: 0px 0px 64px 0px;
}

.contentimage {
    display: flex;
    flex-direction: column;
}

.imagesetting {
    display: flex;
    justify-content: center;
    padding-left: 0px;
    padding-bottom: 32px;
}

.settext1 {
    position: absolute;
    padding-top: 64px;
    padding-left: 678px;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    z-index: 4;
}

.images1 {
    position: relative;
}

.imagesetting2 {
    display: flex;
    justify-content: center;
    padding: 0px 0px 112px 0px;
    width: 100%;
}

.settext2 {
    position: absolute;
    padding-top: 32px;
    padding-right: 609px;
    z-index: 4;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}


.images2 {
    padding-right: 32px;
    position: relative;
}

.settext3 {
    position: absolute;
    padding-top: 32px;
    padding-left: 609px;
    z-index: 4;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.images3 {
    position: relative;
}

.footer {
    background: #316099;
}

.footer_flex {
    display: flex;
    justify-content: normal;
}

.topH4_footer {
    font-size: 36px;
    max-width: 340px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 91px 0px 32px 113px;
}

.paragraf_footer {
    max-width: 494px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    padding: 0px 0px 96px 113px;
}

.link_footer_button {
    padding: 165px 114px 170px 407px;
}

.link_footer {
    background: #5A98D0;
    padding: 15px 80px 15px 80px;
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.other_contacts_your {
    display: flex;
}

.contact_you {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 64px 114px 64px 0px;
    list-style: none;
}

.list_num {
    padding-right: 19px;
}

.other_contacts_copyraid {
    padding-left: 114px;
    padding-bottom: 64px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}

.logo_bar_contact {
    padding-bottom: 33px;
}

.logo_contact_page2 {
    background-image: url(contactgroub.png);
    background-repeat: no-repeat;
    min-height: 260px;
    width: 100%;
}

.topH2 {
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 30px 0px 0px 0px;
}

.paragraf_contact {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.inform {
    display: flex;
    margin-top: 60px;
    margin-bottom: 96px;
}

.inform_my {
    width: 40%;
    padding-left: 90px;
}

.inform_you {
    width: 42%;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgb(16 112 177 / 20%);
    border-radius: 10px;
}

.topH4_form1 {
    padding: 56px 0px 48px 56px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.paragraf_contact_window1 {
    padding: 0px 0px 8px 56px;
}

.paragraf_contact_window {
    padding: 32px 0px 8px 56px;
}

.paragraf_input {
    padding: 0px 0px 0px 56px;
}

.input {
    width: 100%;
    padding-top: 10px;
    padding-left: 15px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}


.lissener_area {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
    width: 88%;
    height: 144px;
    padding: 21px 0px 0px 36px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.2;
}

.paragraf_contact_area {
    padding: 0px 0px 72px 56px;
}

.lissener {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
    width: 88%;
    height: 72px;
    padding: 21px 0px 21px 42px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.2;
}

.inform_you_form_buttone {
    padding: 0px 56px 56px 56px;
}

.submiting {
    width: 100%;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 23px 0px 23px 0px;
}

.img_qar {
    padding-top: 20px;
}

.topH4_adress {
    padding: 56px 0px 24px 50px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.paragraf_adress {
    padding: 0px 0px 40px 50px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
}

.topH4_phone {
    padding: 0px 0px 24px 50px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.list_phone {
    list-style-image: url(phone.png);
    padding: 0px 0px 44px 80px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.topH4_adress_link {
    padding: 0px 0px 24px 50px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.topH4_service {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    padding: 0px 44px 14px 52px;
}

.inform_link_list {
    list-style-image: url(link.png);
    padding: 0px 44px 15px 80px;
}

.link_list {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    text-decoration: none;
}

.inform_link_list1 {
    list-style-image: url(mailo.png);
    padding: 0px 44px 15px 80px;
}

.maps {
    padding-bottom: 112px;
}

@media (max-width: 768px) {

    .container {
        max-width: 758px;
    }

    .logo {
        max-width: 768px;
    }

    .top_box {
        background-size: 365px;
        background-position: right 385px;
    }

    .logo_bar_list {
        padding-left: 32px;
        padding-top: 55px;
        padding-right: 34.56px;
    }

    .logo_bar_list_contact {
        padding-left: 32px;
        padding-top: 55px;
        padding-right: 34.56px;
    }

    .topH1 {
        padding-right: 232px;
        padding-left: 32px;
        padding-top: 120px;
    }

    .paragraf {
        padding-right: 311px;
        padding-left: 32px;
        padding-top: 32px;
    }

    .logo_bottom {
        padding-right: 10px;
        padding-left: 31px;
        margin: 0px;
    }

    .topH3_what {
        padding: 64px 32px 64px 0px;
    }

    .product {
        flex-direction: column;
        margin: 0px 215px 0px 215px;
    }

    .product_card1 {
        margin: 0px 0px 32px 0px;
    }

    .product_card2 {
        margin: 0px 0px 32px 0px;
    }

    .product_card3 {
        margin: 0px 0px 127px 0px;
    }

    .topH4_tezis {
        padding: 0px 32px 31px 32px;
    }

    .paragraf_tezis_text {
        padding: 0px 124px 64px 124px;
    }

    .imagesetting {
        display: flex;
        justify-content: center;
        padding: 0px 28px 32px 35px;
    }

    .images1 {
        position: relative;
        width: 100%;
    }

    .images2 {
        padding-right: 32px;
        position: relative;
        width: 43.5%;
    }

    .images3 {
        position: relative;
        width: 44%;
    }

    .settext1 {
        padding-top: 64px;
        padding-left: 242px;
    }

    .settext2 {
        padding-top: 19px;
        padding-right: 450px;
        max-width: 200px;
    }

    .settext3 {
        padding-top: 19px;
        padding-left: 390px;
        max-width: 200px;
    }

    .topH4_footer {
        padding: 47px 0px 32px 124px;
    }

    .paragraf_footer {
        padding: 0px 0px 64px 124px;
    }

    .link_footer_button {
        padding: 161px 123px 128px 51px;
    }

    .link_footer {
        padding: 3px 5px 10px 5px;
    }

    .other_contacts_your {
        display: flex;
        flex-direction: column;
    }

    .contact_you {
        flex-direction: column;
        max-width: 400px;
        padding: 64px 114px 64px 130px;
    }

    .other_contacts_copyraid {
        padding-left: 129px;
    }

    .list_num {
        padding-right: 36px;
    }

    li.what {
        padding-bottom: 25px;
    }

    li.phone {
        padding-bottom: 25px;
    }

    .inform {
        flex-direction: column;
    }

    .inform_my {
        width: 50%;
        padding-left: 238px;
    }

    .inform_you {
        width: 70%;
        margin-left: 124px;
        margin-top: 64px;
    }
}

@media (max-width: 375px) {

    .container {
        max-width: 375px;
        margin: 0 auto;
    }

    .logo {
        max-width: 375px;
    }

    .top_box {
        background: none;
    }

    .logo_bar_list {
        padding-left: 16px;
        padding-top: 24px;
        padding-right: 34.56px;
    }

    .logo_bar_list_contact {
        padding-left: 16px;
        padding-top: 24px;
        padding-right: 34.56px;
    }

    .topH1 {
        font-size: 32px;
        line-height: 38px;
        padding-left: 16px;
        padding-top: 36px;
        padding-right: 17px;
        text-align: center;
    }

    .paragraf {
        padding-right: 17px;
        padding-left: 16px;
        padding-top: 12px;
        text-align: center;
    }

    .logo_bottom {
        padding-top: 32px;
        padding-bottom: 41px;
        justify-content: center;
        margin: 0px;
    }


    .logo_button_project {
        font-size: 12px;
        padding: 5px 5px;
    }

    .topH3_what {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #000000;
        padding: 48px 17px 32px 17px;
    }

    .product {
        margin: 0px 20px 0px 19px;
    }

    .paragraf_card {
        padding: 0px 58px 48px 32px;
    }

    .product_card3 {
        margin: 0px 0px 64px 0px;
    }

    .topH4_tezis {
        padding: 0px 17px 32px 15px;
        font-size: 24px;
        line-height: 28px;
    }

    .paragraf_tezis_text {
        padding: 0px 17px 82px 15px;
    }

    .imagesetting {
        padding: 0px 17px 16px 15px;
    }

    .settext1 {
        padding-top: 16px;
        padding-left: 136px;
        font-size: 16px;
        line-height: 19px;
    }

    .imagesetting2 {
        flex-direction: column;
        padding: 0px 0px 64px 0px;
    }

    .images2 {
        padding-right: 15px;
        padding-left: 17px;
        width: 90%;
    }

    .images3 {
        position: relative;
        width: 90%;
        padding-right: 15px;
        padding-left: 17px;
        padding-top: 16px;
    }

    .settext2 {
        padding: 10px 10px 480px 40px;
        font-size: 16px;
        line-height: 19px;
    }

    .settext3 {
        max-width: 200px;
        padding: 70px 10px 10px 45px;
        font-size: 16px;
        line-height: 19px;
    }

    .footer_flex {
        flex-direction: column;
    }

    .topH4_footer {
        padding: 18px 16px 32px 16px;
        text-align: center;
        font-size: 24px;
        line-height: 28px;
    }

    .paragraf_footer {
        padding: 0px 16px 40px 16px;
        text-align: center;
    }

    .link_footer_button {
        padding: 0px 135px 41px 132px;
        align-self: center;
    }

    .contact_you {
        flex-direction: column;
        max-width: 60%;
        align-self: center;
        line-height: 19px;
        padding: 32px 15px 37px 21px;
    }

    .other_contacts_copyraid {
        padding: 0px 17px 32px 111px;
    }

    .list_num {
        padding-right: 17px;
    }

    .what {
        padding-bottom: 17px;
    }

    li.phone {
        padding-bottom: 17px;
    }

    .topH2 {
        font-size: 26px;
        line-height: 28px;
        padding: 64px 0px 32px 0px;
    }

    .paragraf_contact {
        font-size: 16px;
        line-height: 30px;
    }

    .inform_my {
        padding-left: 40px;
    }

    .inform_you {
        width: 90%;
        margin-left: 17px;
        margin-top: 32px;
    }

}